trigger:
- feature-branch-1

stages:
  - stage: build
    displayName: 'master-branch-build'

    #build jobs
    jobs: 
      - job: build
        pool:
          name: my-new-pool
        steps:
        - script: |
            dotnet restore
            dotnet build --configuration Release
        - task: DotNetCoreCLI@2
          inputs:
            command: publish
            arguments: '--configuration Release --output publish_output'
            projects: '**/*/service-three.csproj'
            publishWebProjects: false
            modifyOutputPath: false
            zipAfterPublish: false
        - task: ArchiveFiles@2
          displayName: "Archive files"
          inputs:
            rootFolderOrFile: "$(System.DefaultWorkingDirectory)/publish_output"
            includeRootFolder: false
            archiveFile: "$(System.DefaultWorkingDirectory)/build$(Build.BuildId).zip"
        - task: PublishBuildArtifacts@1
          inputs:
            PathtoPublish: '$(System.DefaultWorkingDirectory)/build$(Build.BuildId).zip'
            artifactName: 'drop'