.heart {
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;

}
.person {
    max-width: 50%;
    height: 200px;
    width: auto;
    left: auto;
    float: left;
    right: auto;
}
.place {
    max-width: 50%;
    height: 200px;
    width: auto;
    left: auto;
    float: right;
    right: auto;
}



